<head>
  <style>
   body { overflow: hidden !important; }
   * { box-sizing: border-box; margin: 0; padding: 0; }
   /*
      EmojiSymbols Font (c)blockworks - Kenichi Kaneko
      http://emojisymbols.com/
    */
   @font-face {
		 font-family: "EmojiSymbols";
		 src: url('EmojiSymbols-Regular.woff') format('woff');
		 text-decoration: none;
		 font-style: normal;
	 }
  </style>
</head>
